<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Book</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Book Title</label>
        <div class="input-group">
          <input id="title" class="form-control" placeholder="Title" name="title" [(ngModel)]="title">
        </div>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <div class="input-group">
          <input id="author" class="form-control" placeholder="Author" name="author" [(ngModel)]="author">
        </div>
      </div>
      <div class="modal-footer">
    <button type="submit" value="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Add to Library</button>
      </div>
    </form>
  </div>
  
</ng-template>
<header class="header">
    <h1>
        Book Store
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg> Add New Book</button>
    </h1>
</header>