.container {
  display: flex;
  justify-content: space-between;
  border-top: solid;
  border-color: #333;
  max-width: none;
}

.container h4 {
  display: flex;
  align-items: center;
  text-align: center;
}

.btn {
  border: none;
  background: none;
  color: #009933;
}

.del {
  display: flex;
  align-items: center;
}
